include CHANGELOG.md
recursive-include docs *.md *.png
recursive-include examples *.mx
recursive-include fuzz *.py *.mx
recursive-include kernel *.py *.md *.mx *.mxinc *.s *.ld *.png
recursive-include registry *.json *.md
